.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 17px;
    font-weight: 500;
}

p {
    font-size: 13px;
    font-weight: 300;
}

#top_banner {
    height: 20px;
    line-height: 15px;
    background: #ddd;
}

#top_banner .container {
    justify-content: right;
}

#top_banner .container ul {
    display: flex;
    gap: 30px;
}

#top_banner ul li a {
    font-size: 11px;
    font-weight: 300;
}

#main_menu {
    line-height: 100px;
    border-bottom: 1px solid #ddd;
}

#main_menu h1 img {
    max-width: 50%;
}

.gnb {
    margin: 0 0 0 auto;
    text-align: center;
}

.gnb h1 {
    display: none;
}

.gnb a {
    display: block;
}

.gnb>ul {
    display: flex;
    gap: 50px;
}

.gnb>ul>li {
    position: relative;
}

.gnb>ul>li ul {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 150px;
    text-align: center;
    transform: translateX(-50%);
    background: #fff;
    color: #000;
    line-height: 40px;
    opacity: 1;
    visibility: hidden;
    z-index: 999;
}

.gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
}

.gnb>ul>li>ul>li {
    border-bottom: 1px solid #ddd;
}

.gnb>ul>li>ul>li:nth-last-child(1) {
    border-bottom: none;
}

.gnb>ul>li ul li:hover {
    background: #000;
    color: #fff;
}

.mbtn {
    display: none;
}

.search {
    padding: 0 0 0 50px;
}

.search input {
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px;
}

.search button {
    outline: none;
    border: none;
    background: #fff;
    font-size: 20px;
    cursor: pointer;
}

#main_visual {
    position: relative;
}

#main_visual .main_slider figure {
    position: relative;
}


#main_visual .main_slider .itm01 {
    height: 50vh;
    background: url('../img/main_visual01.jpg') no-repeat center center/cover;
}

#main_visual .main_slider .itm02 {
    height: 50vh;
    background: url('../img/main_visual02.jpg') no-repeat center center/cover;
}

#main_visual .main_slider .itm03 {
    height: 50vh;
    background: url('../img/main_visual03.jpg') no-repeat center center/cover;
}

#main_visual .main_slider figure .inner {
    position: absolute;
    top: 30%;
    color: #fff;
}

#main_visual .main_slider figure .inner h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 50px 0;
}

#main_visual .main_slider figure .inner p {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}

#main_visual .main_slider .slick-dots {
    position: absolute;
    inset: 90% auto auto 50%;
    transform: translate(-50%, -50%);
}

#main_visual .main_slider .slick-dots li {
    display: inline-block;
}

#main_visual .main_slider .slick-dots li button {
    outline: none;
    border: none;
    font-size: 0;
    width: 150px;
    height: 5px;
    background: #fff;
}

#main_visual .main_slider .slick-dots li.slick-active button {
    background: #000;
}

#main_visual .angle i {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: #fff;
    cursor: pointer;
}

#main_visual .angle i:hover {
    color: #000;
}

#main_visual .angle i:nth-child(1) {
    margin: 0 0 0 -800px;
}

#main_visual .angle i:nth-child(2) {
    margin: 0 0 0 800px;
}

#style_package {
    position: relative;
    padding: 100px 0;
}

#style_package .container {
    display: block;
}

#style_package .container h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 10px 0;
}

#style_package .container p {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 50px 0;
}

#style_package .container figure img {
    margin: 0 0 20px 0;
}

#style_package .container figure h2 {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    margin: 0 0 10px 0;
}

#style_package .container figure p {
    display: inline-block;
}

.package_slider figure {
    margin: 0 10px;
}

.package_slider .slick-dots {
    position: absolute;
    inset: 100% auto auto 50%;
    transform: translate(-50%, -50%);
}

.package_slider .slick-dots li {
    display: inline-block;
}

.package_slider .slick-dots li button {
    outline: none;
    border: none;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    font-size: 0;
    border-radius: 10px;
    background: #000;
    transition: 0.5s;
}

.package_slider .slick-dots li.slick-active button {
    width: 30px;
    background: #f00;
}

.package_arrow i {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    border-radius: 10px;
    cursor: pointer;
}

.package_arrow i:nth-child(1) {
    margin: 0 0 0 -700px;
}

.package_arrow i:nth-child(2) {
    margin: 0 0 0 700px;
}

#tab {
    position: relative;
    padding: 100px 0;
}

.tab_menu {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}


.tab_menu li {
    flex: 1;
    padding: 10px 5px;
    margin: 0 0 50px 0;
    background: #ddd;
    color: #000;
    border: 1px solid #fff;
    cursor: pointer;
}

.tab_menu li.on {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.tab_content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.tab_content>div {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.tab_content>div.on {
    visibility: visible;
    height: auto;
    overflow: visible;
}

.tab_content .figure_box {
    display: flex;
    gap: 30px;
}

.tab_content figure img {
    border: 1px solid #ddd;
    margin: 0 0 20px 0;
}

.tab_content figure h2 {
    margin: 0 0 10px 0;
}

#event .container {
    display: block;
    padding: 100px 0;
    border-bottom: 1px solid #ddd;
}

#example {
    padding: 100px 0;
}

#example .container {
    display: block;
    text-align: center;
}

#example .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

#example .container p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 50px 0;
}

#example .container .example_inner {
    display: flex;
    gap: 50px;
}

#example .container .example_inner h2 {
    margin: 20px 0 0 0;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.example_inner figure {
    overflow: hidden;
    margin: 0 0 20px 0;
}

.example_inner figure img {
    transform: scale(1);
    filter: grayscale(0.8);
    transition: 0.5s;
}

.example_inner figure img:hover {
    transform: scale(1.2);
    filter: grayscale(0);
}

.example_text div {
    display: flex;
}

.example_text div strong {
    flex: 1;
}

#content {
    padding: 100px 0;
}

#content .container {
    display: block;
    text-align: center;
}

#content .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

#content .container p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 50px 0;
}

#content .container .content_inner {
    display: flex;
    text-align: center;
    gap: 100px;
}

#content .container .content_inner figure {
    padding: 25px 50px;
    border-radius: 20px;
}

#content .container .content_inner figure img {
    margin: 0 0 10px 0;
}

#content .container .home {
    background: rgba(255, 255, 0, 0.5);
}

#content .container .furniture {
    background: rgba(255, 0, 0, 0.5);
}

#content .container .store {
    background: rgba(0, 255, 0, 0.5);
}

#content .container .talk {
    background: rgba(0, 0, 255, 0.5);
}

#footer {
    background: #000;
}

#footer .container {
    line-height: 50px;
    justify-content: space-between;
}

#footer .container ul {
    display: flex;
    gap: 10px;
}

#footer .container ul li a {
    font-size: 13px;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0 auto;

    }

    #main_menu {
        position: relative;
    }

    #main_menu .container {
        margin: 0 40px;
    }

    #main_visual .main_slider .container {
        margin: 0 40px;
    }

    .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 200px);
        height: 100vh;
        z-index: 999;
        background: #99f;
        line-height: 40px;
        transition: 0.5s;
    }

    .gnb h1 {
        display: block;
        border-bottom: 1px solid #ddd;
    }

    .gnb.on {
        left: 0;
    }

    .gnb a {
        display: block;
    }

    .gnb>ul {
        display: flex;
        flex-direction: column;
        gap: 0;

    }

    .gnb>ul>li {
        position: relative;
        border-bottom: 1px solid #ddd;
        opacity: 1;
        visibility: visible;
    }

    .gnb>ul>li>ul {
        display: none;
        position: static;
        width: auto;
        transform: translate(0);
        opacity: 1;
        visibility: visible;
    }

    .mbtn {
        display: block;
    }

    .search {
        display: none;
    }

    #main_menu .mbtn i {
        position: absolute;
        display: block;
        padding: 5px;
        inset: 50% auto auto 90%;
        transform: translate(-50%, -50%);
        font-size: 35px;
        background: #ddd;
        border-radius: 10px;
        cursor: pointer;
    }

    #main_visual .main_slider .itm01 {
        height: 30vh;
    }

    #main_visual .main_slider .itm02 {
        height: 30vh;
    }

    #main_visual .main_slider .itm03 {
        height: 30vh;
    }

    #main_visual .main_slider .slick-dots li button {
        width: 10px;
        height: 10px;
        margin: 0 10px;
        border-radius: 50%;
    }

    #main_visual .angle {
        display: none;
    }

    #style_package .container {
        width: auto;
        margin: 0 40px;
    }

    .package_slider .slick-dots li button {
        outline: none;
        border: none;
        width: 5px;
        height: 5px;
        margin: 0 2px;
        font-size: 0;
        border-radius: 10px;
        background: #000;
        transition: 0.5s;
    }

    .package_slider .slick-dots li.slick-active button {
        width: 5px;
    }

    #style_package .package_arrow {
        display: none;
    }

    #tab_content {
        display: flex;
        width: auto;
        margin: 0 40px;
    }

    .tab_menu {
        width: auto;
        margin: 0 40px;
    }

    .tab_content {
        width: auto;
        margin: 0 40px;
    }

    .tab_content .figure_box {
        display: block;
    }

    .tab_content .figure_box .slick-dots {
        position: relative;
        left: 40%;
    }

    .tab_content .figure_box .slick-dots li {
        display: inline-block;
    }

    .tab_content .figure_box .slick-dots li button {
        outline: none;
        border: none;
        width: 10px;
        height: 15px;
        font-size: 0;
        background: #fff;
        border: 1px solid #000;
        border-radius: 50%;
        margin: 0 5px;
    }

    .tab_content .figure_box .slick-dots li.slick-active button {
        background: #000;
    }

    #example {
        width: auto;
        margin: 0 40px;
    }

    #example .example_inner {
        display: block;
    }

    #example .example_inner .slick-dots li {
        display: inline-block;
    }

    #content {
        width: auto;
        margin: 0 40px;
    }

    #content .container {
        width: auto;
        margin: 0 40px;
    }

    #content .container .content_inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);
    }

    #content .container figure {
        padding: 25px;
    }

    #content .container strong {
        font-size: 13px;
        font-weight: 300;
    }

    #footer .container ul {
        display: block;
        font-size: 11px;
        line-height: 20px;
    }

    #reservation {
        display: none;
    }

}